<!doctype html>
<html lang="ko">
<head>
    <%- include('./includes/header.ejs') %>
    <title>
        <%- title; %>
    </title>
</head>
<body>
<h1 class="title is-1">
    <%- pageName; %>
</h1>
<form action="/postResult" method="post">
    <div class="field">
        <label class="label" for="name">이름</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-success" type="text" id="name" value="이현민" name="name">
            <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
            <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
        </div>
    </div>
    <br>
    <div class="field">
        <h3 class="label"> 성별 </h3>
        <div class="control">
            <label for="male" class="radio">
                <input type="radio" name="gender" value="male" id="male" checked>남자
            </label>
            <label for="female" class="radio">
                <input type="radio" name="gender" value="female" id="female">여자
            </label>
        </div>
    </div>
    <div class="field">
        <h3 class="label"> 생년월일</h3>
        <div class="control">
            <div class="select is-primary">
                <label>
                    <select name="birthYear">
                        <option>2010년</option>
                        <% for (let i = 2009;i > 1960;i--){ %>
                            <option>
                                <%= i %>
                                년
                            </option>
                        <% } %>
                    </select>
                </label>
            </div>
            <div class="select is-primary">
                <label>
                    <select name="birthMonth">
                        <option>1월</option>
                        <% for (let i = 1;i < 13;i++){ %>
                            <option>
                                <%= i %>
                                월
                            </option>
                        <% } %>
                    </select>
                </label>
            </div>
            <div class="select is-primary">
                <label>
                    <select name="birthDay">
                        <option>1일</option>
                        <% for (let i = 32;i > 0;i--){ %>
                            <option>
                                <%= i %>
                                일
                            </option>
                        <% } %>
                    </select>
                </label>
            </div>
        </div>
    </div>
    <div class="field">
        <h3 class="label"> 관심사 </h3>
        <div class="control">
            <label for="travel">
                <input type="checkbox" name="hobby" value="travel" id="male" class="checkbox" checked>여행
            </label>
            <label for="fashion">
                <input type="checkbox" name="hobby" value="fashion" id="fashion" class="checkbox">패션
            </label>
            <label for="food">
                <input type="checkbox" name="hobby" value="food" id="food" class="checkbox">음식
            </label>
        </div>
    </div>
    <br>

    <div class="field">
        <h3 class="label"> 기타 </h3>
        <div class="control">
            <label for="color">좋아하는 색상
                <input type="color" name="color" value="#991746" id="color" class="checkbox">
            </label>
            <br>
            <label for="number">좋아하는 숫자
                <input type="number" name="number" value="0" id="female" class="checkbox">
            </label>
        </div>
    </div>
    <br>


    <button type="submit" class="button icon-text is-success">회원가입
        <span class="icon">
    <i class="fa fa-pencil-square-o"></i>
    </span>
    </button>
</form>
<div id="result"></div>
<br>
<br>
<br>
<hr>
<button class="button icon-text " onclick="location.href = '/'">  <span class="icon">
    <i class="fas fa-home"></i>
  </span></button>
</body>
</html>
